spring.datasource.url=jdbc:postgresql://localhost:5432/dbname
spring.datasource.username=postgres
spring.datasource.password=password
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true


# Custom Properties

## JWT Token Properties
custom.jwt.secret=RSBz5n7LLAENSqDtIbi6alKrLsMjeYM63HKIk2NKK0YbxL5r48aPVPBPZxAsokv4pOQ9Tx5YXDQniYqlIdrl3ibcQV3+mFpW8E
custom.jwt.expiry-time=3600

## Registration Service URL
custom.rs.url=http://localhost:3000

## Authentication Service URL
custom.as.url=https://biometric-sdk-svc-docker.onrender.com
